version: "3.8"
services:
  server:
    image: "nginx:stable-alpine"
    container_name: nginx-server
    ports:
      - "8001:80"
    volumes:
      - ./src:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php
      - mysql
    networks:
      - app-network

  php:
    build:
      context: ./dockerfiles
      dockerfile: php.dockerfile
    container_name: php-fpm
    volumes:
      - ./src:/var/www/html:delegated
    networks:
      - app-network

  mysql:
    image: mysql:5.7
    container_name: mysql-db
    volumes:
      - ./mysql:/var/lib/mysql
    env_file:
      - ./env/mysql.env
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    depends_on:
      - mysql
    ports:
      - "8082:80"
    environment:
      PMA_HOST: mysql-db  # Use the container_name
      PMA_PORT: 3306
      UPLOAD_LIMIT: 2048M
    networks:
      - app-network

  composer:
    build:
      context: ./dockerfiles
      dockerfile: composer.dockerfile
    volumes:
      - ./src:/var/www/html

  npm:
    build:
      context: ./dockerfiles
      dockerfile: npm.dockerfile
    volumes:
      - ./src:/var/www/html

networks:
  app-network:
    driver: bridge